/ServicesQLSV/target/
/WebQLSV/build/
/WebQLSV/dist/
/WebServicesQLSV/target/
/tesst/target/
/WebServiesQLSV/target/
/WebServiceQLSV/target/
/WebApplication1/nbproject/private/
/WebApplication1/build/