#wrapper {
    width: 1000px;
    margin: auto;
    box-shadow: 0 0 3px 3px #bebebe;
    /*    -moz-box-shadow: 0 0 3px 3px #bebebe;
        -webkit-box-shadow: 0 0 3px 3px #bebebe;
        -o-box-shadow: 0 0 3px 3px #bebebe;
        -ms-box-shadow: 0 0 3px 3px #bebebe;*/
}

#top {
    position: relative;
    color: white;
}

#top #banner{
    height: 130px;
    background: url("../image/baner-bg.jpg") top left no-repeat;
}

#banner h1{
    float: left;
    margin: 0;
    padding: 24px;
    display: block;
}

#menu form{
    border: none;
}


/*.menu .styleUl{
    display: block;
    list-style-type: disc;
    float: left;
    margin: 0;
    padding: 0;
}

.menu .styleUl .styleLI{
    display: block;
    float: left;
    list-style: none;
    border-left: #008ce9 1px solid;
    border-right: #0060b5 1px solid;
    position: relative;
    white-space: normal;
}

.menu .styleUl .styleLI a{
    float: left;
    padding: 12px 20px 13px 20px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}*/



#bottom {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: #FFF;
    position: relative;
    background: url("../image/bgfooter.png") repeat-x top left;
    height: 136px;
    display: block;
}

#bottom .confot{
    float: left;
    height: 102px;
    width: 100%;
    display: block;

}


p.copy{
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 11px;
    display: block;
}

.center_content {
    position: relative;
    min-height: 650px;
}


.panel1{
    border: 1px #f38112 solid;
    width: 924px;
    border-radius: 10px;
    margin: 38px 18px 5px 18px;
    padding: 20px
}
.panel1 .title{
    font-family: Myriad Pro;
    color: #f38112;
    font-size: 28px;
    font-weight: bold
}

.paneldangnhap{
    border: 1px #f38112 solid;
    width: 690px;
    border-radius: 5px;
    margin: 100px 153px 5px 153px;
    padding: 20px
}
.paneldangnhap .title{
    font-family: Myriad Pro;
    color: #f38112;
    font-size: 30px;
    font-weight: bold
}

.panelnguoidung{
    width: 924px;
    margin: 30px 18px 5px 18px;
}
.panelnguoidung .title{
    font-family: Myriad Pro;
    color: #f38112;
    font-size: 28px;
    font-weight: bold
}

/*-------*bang danh sach---------------*/

.table{
    width: 924px; margin: 38px 18px;
}

.header{
    color: #0f84f0
}

/*---------bang danh sach----------*/

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: #fff;
    font-weight : bold;
    text-decoration : underline;
}



